<div id="login_to_pop_up"
     style="
     padding: 10px;
     display: none;
     width: 330px;
     height: 180px;
     background-color: #ff8c00;
     border-radius: 10px;
     ">
    <div style="border-bottom: 1px solid #cccccc;">
        <ul style="padding-bottom: 5px;">
            <li style="display: inline-block; float: left;"><h4>快速登陆</h4></li>
            <li style="padding-left: 300px;"><a href="javascript:void(0)" class="login-close">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a></li>
        </ul>
    </div>
    <div class="controls" style="padding-top: 10px; padding-left: 20px;">
        <label class="control-label" style="padding-right: 10px;">UserName</label>
        <input class="UserName" type="text" style="border-radius: 5px; font-size: 15px;" />
    </div>
    <div class="controls" style="padding-top: 10px; padding-left: 20px;">
        <label class="control-label" style="padding-right: 10px;">PassWord</label>
        <input class="PassWord" type="password" style="border-radius: 5px; font-size: 15px;" />
    </div>
    <div class="button-controls" style="padding-top: 20px; padding-left: 230px;">
        <button class="btn btn-success login-button">登陆</button>
    </div>
</div>
