<div id="tag_notes_to_pop_up"
     style="
     padding: 10px;
     display: none;
     width: 435px;
     height: 480px;
     background-color: #ff8c00;
     border-radius: 10px;
     ">
    <a href="javascript:void(0)" class="login-close" style="padding-left: 390px; font-size: 20px;">
        <span class="glyphicon glyphicon-remove-circle"></span>
    </a>
    <br/>
    <textarea name="inputNotes" cols="44" rows="20" style="font-size: 15px;"></textarea>
</div>

<div id="tag_info_to_pop_up"
     style="
     padding: 10px;
     display: none;
     width: 530px;
     height: 380px;
     background-color: #ff8c00;
     border-radius: 10px;
     ">
    <div class="container">
        <div class="row">
            <a href="javascript:void(0)" class="login-close" style="padding-left: 490px; font-size: 20px;">
                <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3" style="margin:0 padding:0">
                <img src="/static/images/knowledge/book.png" />
            </div>
            <div class="col-md-5 col-sm-5 col-xs-5" style="margin:0 padding:0">
            </div>
        </div>
    </div>
</div>

<div id="tag_list_to_pop_up"
     style="
     padding: 10px;
     display: none;
     width: 330px;
     height: 180px;
     background-color: #ff8c00;
     border-radius: 10px;
     ">

</div>

<div id="tag_like_to_pop_up"
     style="
     padding: 10px;
     display: none;
     width: 50px;
     height: 50px;
     background-color: #ff8c00;
     border-radius: 25px;
     ">
    <h3>+1</h3>
</div>
