.main {
    margin: 0;
    padding: 0;
    width: 100%;
}

.blog-preview-area {
    margin: 0;
    padding: 5px 0;
    font-family: "Times New Roman";
}

.blog-preview-area .col{
    margin: 0;
    padding: 0;
}

.blog-preview-area h1, .blog-preview-area h2, .blog-preview-area h3, .blog-preview-area h4, .blog-preview-area h5, .blog-preview-area h6 {
    margin: 0;
	padding-top: 20px;
	padding-bottom: 15px;
	font-weight: bold;
	color: #454545;
}

.blog-preview-area h1 {
    font-size: 26px;
}

.blog-preview-area h2 {
	font-size: 24px;
}

.blog-preview-area h3 {
	font-size: 22px;
}

.blog-preview-area h4 {
	font-size: 20px;
}

.blog-preview-area h5 {
	font-size: 18px;
}

.blog-preview-area h6 {
	font-size: 16px;
}

.blog-preview-area p {
    margin: 0;
	line-height: 30px;
	text-indent: 2em;
	font-size: 15px;
	color: #454545;
}

.blog-preview-area a {
	text-decoration: none;
	font-size: 18px;
	color: #6b8e23;
}

.blog-preview-area p strong {
	color: #f08080;
}

.blog-preview-area img {
    display: block;
    margin: 0 auto;
}

.blog-preview-area blockquote {
    background-color: #fafafa;
}

.blog-preview-area blockquote p {
    margin: 0;
    padding: 0;
    border-left: 10px solid #f1941c;
    font-family: "Times New Roman";
	font-size: 17px;
	color: #454545;
}

.title-area {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 5px;
}

.title-area input {
    font-size: 20px;
    width: 750px;
    border: 2px solid #cccccc;
    border-radius: 7px;
}

.brief-area textarea {
    font-size: 20px;
    width: 750px;
    border: 2px solid #cccccc;
    border-radius: 7px;
}

.brief-area {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

.edit-area {
    border: 2px solid #cccccc;
    border-radius: 7px;
}

.commit {
    padding-left: 680px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.preview .back{
    padding-top: 30px;
}
